.form-wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid #330000 3px;
}

.button {
  background-color: #550000;
  color: white;
  box-shadow: 0 6px #330000;
  opacity: 1;
  width: 100%;
  outline: none;
  border-radius: 8px;
}

.button:active{
  box-shadow: none;
  position:relative;
  top: 6px;
}

.button:hover{
  opacity: 0.8;
}

.form-control {
  border: solid #550000 1px;
}
