<%= render 'groups/form', group: @group%>
<% if @group.user == current_user %>
  <div class="form-wrapper mt-3"><%= link_to 'このグループを削除する', @group, method: :delete, data:{confirm: '削除する際はグループメンバーと連絡等済ませた上で削除してください。'}, class: 'btn btn-outline-danger w-100' %></div>
<% end %>
