<div class="title">
    <h1>Toppages#index</h1>
</div>
<p>Find me in app/views/toppages/index.html.erb</p>

<img src="/assets/library.jpg">

<%= javascript_pack_tag 'toppages/toppages' %>
<%= stylesheet_pack_tag 'toppages/toppages' %>
