<div class="title">
    <h1>Toppages#index</h1>
</div>
<p>Find me in app/views/toppages/index.html.erb</p>
<div class="col-sm-12 offset-lg-3 col-lg-6 offset-lg-3">
    <img src="/assets/library.jpg">
</div>

<%= render 'toppages/signup' %>
<%= render 'layouts/login' %>
<%= javascript_pack_tag 'toppages/toppages' %>
<%= stylesheet_pack_tag 'toppages/toppages' %>
