<% if bookcomments.any? %>
  <% bookcomments.each do |comment| %>
  <div class="comment">
    <%= comment.message %>
    <%= comment.user.username %>
    <%= comment.updated_at.strftime("%Y-%-m-%-d %-H:%-M") %>
    <%= link_to '', bookpost_bookcomment_path(@bookpost, comment), method: :delete, remote: true,  class: 'fas fa-trash-alt'%>
  </div>
  <% end %>
<% else %>
  <p>コメントはありません</p>
<% end %>