.button {
    background-color: #550000;
    color: white;
    box-shadow: 0 6px #330000;
    opacity: 1;
    width: 100%;

}

.button:active{
    box-shadow: none;
    position:relative;
    top: 6px;
}

.button:hover{
    opacity: 0.8;
}
