<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#"><i class="fas fa-book"></i>SQUARE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="#menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="menu">
    <div class="navbar-nav">
        <%# <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#signup-modal">新規登録 </a> %>
        <% if logged_in? %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link nav-item' %>
        <% else %>
          <%= link_to '新規登録', signup_path, class: 'nav-link nav-item' %>
          <%= link_to 'ログイン', login_path, class: 'nav-link nav-item' %>
        <% end %>
        <%# <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#login">ログイン</a> %>
    </div>
  </div>
</nav>
<%= javascript_pack_tag 'application' %>